@page "/ShowClient"
@model WebApplication666.Pages.Client.ShowModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Список пользователей";
}

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>LOGIN</th>
            <th>UPDATE</th>
            <th>DELETE</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model.AllUser){
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
                <td><a class="btn btn-danger" asp-page="/client/update" asp-route-id="@item.Id">Update @item.Name</a></td>
                <td><button class="btn btn-danger">Delete @item.Name</button></td>
            </tr>
        }
    </tbody>
</table>


