@page "/UpdateClient/{id:int}"
@model WebApplication666.Pages.Client.UpdateModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Обновить клиента";
}

@if(Model.Input != null){
    <form asp-page="/client/update" method="post">
        <div asp-validation-summary="All"></div>
        <input type="hidden" asp-for="@Model.Input.Id" />
        <input readonly asp-for="@Model.Input.Name" />

        <input asp-for="@Model.Input.Password" value="@Model.Input.Password" />

        <input asp-for="@Model.Input.PasswordAgain" value="@Model.Input.PasswordAgain" />

        <select asp-items="@Model.Countryes" asp-for="@Model.Input.Country"></select>

        <input type="submit" value="Обновить" />
    </form>
}